.buttonsBlock {
    margin-top: 20px;
    height: 3vw;
}
.buttonsBlock > div {
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 8px;
    width: 12vw;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.6vw;
}

.buttonsBlock-yes {
    background: #FFD93E 100%; }
.buttonsBlock-yes:hover {
    background: #FF8C00 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.01); }
.buttonsBlock-no {
    background: #E5E5E5 100%;
    margin-left: 20px;
}
.buttonsBlock-no:hover {
    background: #D3D3D3 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.01); }

