.musicPlayer {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, 30px); }
.musicPlayer-title {
    font-size: 1.6vw;
    grid-column: span 17;
    margin-top: 0;
}
.musicPlayer > span {
    font-size: 1.3em; }

.musicPlayer {
    margin-top: 20px;
    grid-template-columns: repeat(20, 1fr); }
.musicPlayer > img {
    grid-column: span 3;
    grid-row: span 2;}

.musicPlayer > span {
    grid-column: span 1;
    align-self: center;
    margin-left: 5px; }
.musicPlayer > input:nth-child(3) {
    grid-column: span 16; }
.musicPlayer > input:nth-child(7) {
    grid-column: span 13;
    grid-row: span 2; }
.musicPlayer > input {
    align-self: center;
    height: 10px; }
.musicPlayer > span:nth-child(8) {
    grid-row: span 2; }