.Navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    height: 92px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.01);
}

.Navbar-Brand {
    font-size: 16px;
    line-height: 92px;
}

.Navbar-Brand > img {
    vertical-align: middle;
    width: 108px;
    height: 27px;
}

.Navbar-Container > nav {
    float: left;
}

.Navbar-Container > nav > li {
    list-style-type: none;
    margin-left: 20px;
    line-height: 92px;
}

.Navbar-Container > nav > li > a{
    display: block;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: gray;
}

.Navbar-Container > nav > li:hover,
.Navbar-Container > nav > li:active,
.Navbar-Container > nav > li:focus{
    border-bottom: 5px solid #a70000;
}

@media only screen and (max-device-width: 1049px) {
    .Navbar-Brand {
        margin-left: 20px;
    }

    .Navbar-Toggle {
        float: right;
    }

    .Navbar-Toggle > img {
        width: 16px;
        height: 13px;
    }

    .Navbar-Container {
        margin-left: auto;
        line-height: 92px;
        margin-right: 20px;
    }

    .Navbar-List {
        position: absolute;
        right: 20px;
        top: 60px;
        display: none;
        z-index: 1;
    }

    .Navbar-List > li {
        height: 30px;
        line-height: 30px;
        text-align: right;
    }

    .Navbar-Right {
        margin-left: 0;
    }

    .Navbar-Right > li {
        float: left;
        margin-right: 20px;
    }

    .Navbar-Right > a {
        font-size: 14px;
    }

    .Navbar-Toggle:hover + .Navbar-List {
        display: block;
    }
}

@media only screen and (min-device-width: 1050px) {
    .Navbar-Brand {
        margin-left: 40px;
    }

    .Navbar-Brand > img{
        height: 27px;
    }

    .Navbar-List{
        display: flex;
    }

    .Navbar-Right{
        float: right !important;
        display: flex;
    }

    .Navbar-Toggle{
        display: none;
    }

    .Navbar-Container{
        width:calc(100% - 200px);
    }

    .Navbar-Container > nav{
        margin-left: 52px;
    }
}